@media screen and  (max-width: 786px){
    .sidebar {
        display: none;
    }
}

.wrapper {
    // justify-content: center;
    // width: 80%;
    // height: 1000px;
    // background-color:#0f1416;
    // border: 1px solid rgb(98, 94, 94);
    // border-radius: 4px;
    // margin-top: 2px;

    display: flex;
    // flex-wrap: wrap;
    background-color:#0f1416;
    height: auto;
    width: 1222px;
    margin-top:2px;
    border: 1px solid rgb(98, 94, 94);
    border-radius: 4px;
}