@media screen and (max-width : 768px) {
    .inner{
        width: 100%;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
        padding: 1rem;
        box-sizing: border-box;
    }

     .icon-contact {
        align-items: center;
    }

    .item {
        justify-content: center;
    }

    .ft-list {
        padding: 0;
        line-height: 2rem;
    }
}

@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(3px); }
  50% { transform: translateX(-3px); }
  75% { transform: translateX(2px); }
  100% { transform: translateX(0); }
}
.icon:hover {
  animation: shake 0.4s ease-in-out;
}

.wrapper {
    display: flex;
    // flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
    background-color:#353434;
    border-top: 2px solid  rgb(61, 106, 255);

}
.inner{
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: space-between;
}
.footer-start .footer-midle .footer-end{
    width: 30%;;
}

.btn-footer{
    margin: 10px 0px 10px;
}
.linkto{
    color:#ffffff;

    &:hover{    
        color: rgb(61, 106, 255);
    }
}

.icon-contact{
    display: flex;
    flex-direction: column;
}

.item {
    display: flex;
    flex-direction: row;
    justify-content: start;
    border-bottom: 1px solid  rgb(61, 106, 255); ;
    margin-bottom: 10px;
}
.icon {
    margin-top: 10px;

}
.item-info{
   margin-left: 12px;
}

.ft-list {
    margin-top: 10px;
    list-style-type: none;
    line-height: 55px;
}

