.wrapper{
    margin-top: 10px;
    background-color: #333;
    border-top: 1px solid rgb(28, 28, 29);
    border-bottom: 1px solid rgb(28, 28, 29);
    border-radius: 4px;
    // box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
}
.inner{
    margin-left: 5px;
    margin-right: 5px;
}
.title{
    border-bottom:  1px solid rgb(61, 106, 255);
    line-height: 2;
    position: relative;
  &::after {
    content: "";
    display: block;
    height: 2px;
    width: 60px;
    background: linear-gradient(to right, #3d6aff, #21d4fd);
    margin: 0.25rem 
  }

}
.list{
    color: #505dee;
    list-style: none;
    line-height: 2;
    cursor: pointer;

}
.list-item{
    &:hover{
        // background-color:  rgb(11, 11, 11);
        color: aliceblue;
        transform: scale(1.02);
        box-shadow: 0 0 10px rgb(61, 106, 255);
    }
    margin-top: 5px;
    border-bottom: 1px solid rgb(61, 106, 255);
    display: flex;
    // flex-direction: row; // Đảm bảo title nằm trên ảnh
    align-items: center;
    gap: 4px;
    margin: 0.25rem;
}
.img-item{
  flex: 4; 
  width: 100px;
  height: 100px;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  
}
.title-item {
  flex: 6; 
  font-size: 15px;
  font-weight: 600;
  color: #ffffff;
  padding: 4px 6px;
  border-radius: 4px;
  text-align: start;
  margin: 0.25rem;


}
.btn{
    width: auto;
    height:30px;
    border: none;   
    &:hover{
        color: rgb(255, 255, 255);
        cursor: pointer;
        text-shadow: 1px 1px 0px rgb(61, 106, 255) , 1px 1px 0px rgb(14, 65, 229);
        // transform: scale3d(1.5);
        // box-shadow: 0 0 10px rgb(61, 106, 255);
        // filter: drop-shadow( 1px 1px 20px rgb(61, 106, 255));
    }
}